<lmsx-dialogs [title]="dialogTitle" [showCheckbox]="false" >
 
  <form [formGroup]="resetForm" (ngSubmit)="submitNewPassword()">
    <ng-container *ngIf="step === 'verifyUser'">
      <label class="text-sm text-textGray block mb-2"
        >შეიყვანე ელ.ფოსტა ან მომხმარებელი</label
      >
      <input
        type="text"
        formControlName="usernameOrEmail"
        class="border border-solid placeholder:text-sm p-sm rounded-xl w-full focus:outline-none focus:ring-0 mb-4"
        placeholder="მაგ: giorgi@example.com"
      />
      <button
        type="button"
        class="bg-primary text-white py-sm px-md text-base rounded-xl w-full disabled:opacity-50"
        (click)="checkUser()"
      >
        შემდეგ
      </button>
    </ng-container>

    <ng-container *ngIf="step === 'verifyOtp'">
      <label class="text-sm text-textGray block mb-1"
        >შეიყვანე მიღებული კოდი</label
      >
      <input
        type="text"
        maxlength="6"
        formControlName="otpCode"
        class="border border-solid placeholder:text-sm p-sm rounded-xl w-full focus:outline-none focus:ring-0 mb-4"
        placeholder="მაგ: 123456"
      />
      <button
        type="button"
        class="bg-primary text-white py-sm px-md text-base rounded-xl w-full"
        (click)="verifyOtp()"
      >
        შემდეგ
      </button>
    </ng-container>

    <ng-container *ngIf="step === 'resetPassword'">
      <div class="relative py-1">
        <label class="text-sm text-textGray block mb-1">ახალი პაროლი</label>
        <input
        [type]="showPassword ? 'text' : 'password'"
          formControlName="newPassword"
          class="border border-solid placeholder:text-sm p-sm rounded-xl w-full focus:outline-none focus:ring-0 mb-3"
          placeholder="ახალი პაროლი"
          [ngClass]="{
            'border-red-500':
              (resetForm.get('newPassword')?.touched ||
                resetForm.get('newPassword')?.dirty) &&
              resetForm.get('newPassword')?.invalid,
          }"
        />
        <ion-icon
        [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"
        (click)="togglePassword()"
        class="absolute right-4 top-1/2 -translate-y-1/2 cursor-pointer"
      ></ion-icon>
        <div
          *ngIf="
            (resetForm.get('newPassword')?.touched ||
              resetForm.get('newPassword')?.dirty) &&
            resetForm.get('newPassword')?.errors?.['weakPassword']
          "
          class="absolute bottom-[-6px] right-0 text-red-500 text-xs"
        >
          უნდა შეიცავდეს a-A-0-# და მინ. 8 სიმბოლო
        </div>
      </div>

      <div class="relative py-1 mb-4">
        <label class="text-sm text-textGray block mb-1">გაიმეორე პაროლი</label>
        <input
        [type]="showPassword ? 'text' : 'password'"
          formControlName="confirmPassword"
          class="border border-solid placeholder:text-sm p-sm rounded-xl w-full focus:outline-none focus:ring-0 mb-4"
          placeholder="გაიმეორე პაროლი"
          [ngClass]="{
            'border-red-500':
              (resetForm.get('confirmPassword')?.touched ||
                resetForm.get('confirmPassword')?.dirty) &&
              (resetForm.get('confirmPassword')?.invalid ||
                resetForm.errors?.['passwordMismatch']),
          }"
        />
        <ion-icon
            [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"
            (click)="togglePassword()"
            class="absolute right-4 top-1/2 -translate-y-1/2 cursor-pointer "
          ></ion-icon>
        <div
          *ngIf="
            (resetForm.get('confirmPassword')?.touched ||
              resetForm.get('confirmPassword')?.dirty) &&
            resetForm.errors?.['passwordMismatch']
          "
          class="absolute bottom-[-6px] right-0 text-red-500 text-xs"
        >
          პაროლები არ ემთხვევა
        </div>
        <div
          *ngIf="
            (resetForm.get('confirmPassword')?.touched ||
              resetForm.get('confirmPassword')?.dirty) &&
            resetForm.get('confirmPassword')?.errors?.['required']
          "
          class="absolute bottom-[-6px] right-0 text-red-500 text-xs"
        >
          პაროლი აუცილებელია
        </div>
      </div>
      <button
        type="submit"
        class="bg-primary text-white py-sm px-md text-base rounded-xl w-full"
      >
        შეცვლა
      </button>
    </ng-container>
  </form>
</lmsx-dialogs>
