<!-- calendar-dialog.component.html -->
<lmsx-dialogs
  *ngIf="visibleDialog"
  [title]="dialogTitle"
  [confirmText]="confirmText"
  (close)="onClose()"
  (confirm)="onSave()"
>
  <form [formGroup]="dialogForm" class="space-y-4">
    <input type="text" formControlName="title" placeholder="სათაური" class="input" />
    <input type="date" formControlName="startDate" class="input" />
    <input type="date" formControlName="endDate" class="input" />
    <textarea formControlName="description" placeholder="აღწერა" class="input"></textarea>
  </form>
</lmsx-dialogs>
