

<mat-toolbar class="justify-between">

  <div>
    <button
    matIconButton
    primaryButton
    class="example-icon"
    aria-label="Menu icon"
    (click)="openSidenav()"
  >
    <mat-icon>menu</mat-icon>
  </button>
    <button
    matIconButton
    class="m-1">
      <span>Dashboard</span>
      
    </button>
    <button
    matIconButton
    class="m-1">
      <span>Users</span>
      
    </button>
    <button
    matIconButton
    class="m-1">
      <span>Settings</span>
      
    </button>
   
  </div>


  
  <div>
    <button
      matIconButton
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
    <mat-icon>notifications_none</mat-icon>
    </button>
    <button
      matIconButton
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon> list_alt</mat-icon>
    </button>
    <button
      matIconButton
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
    <mat-icon> mail_outline</mat-icon>
    </button>
    <span>|</span>

    <button
      matIconButton
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>translate</mat-icon>
    </button>

    <button
      matIconButton
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>language</mat-icon>
    </button>
    <span>|</span>
    <button
      matIconButton
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    <button
      matIconButton
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon> dialpad</mat-icon>
    </button>
  </div>
</mat-toolbar>
<div class="h-5 border-t-black bg-slate-700">

</div>
